
.lexend-<uniquifier> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  QUALFOI
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}


body{
    
}

footer{
    background-color: #ADDCF0;
}

header{
    display: flex;
    flex-direction: row;
}

